/* tema Vivid Crimson - by Roberto Miguel Costi */
:root {
    --background-dark: #7F0000; /* Rojo oscuro principal */
    --background-dark-transparent: rgba(127, 0, 0, .9);
    --background-darker: #540000; /* Rojo más oscuro */
    --background-darker-transparent: rgba(84, 0, 0, .9);
    --background-blue: #CC0000; /* Rojo medio */
    --text-light: #FFCCCC; /* Texto claro en tono rojo */
    --text-dark: #FF0000; /* Texto oscuro en tono rojo más oscuro */
    --border-dark: #7F0000; /* Borde oscuro en tono rojo principal */
    --border-light: #FF4D4D; /* Rojo claro para bordes */
    --disabled-background: #7F0000; /* Fondo para elementos deshabilitados en tono rojo principal */
    --disabled-text: #FF0000; /* Texto para elementos deshabilitados en tono rojo más oscuro */
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75); /* Sombra de caja */
}