/* Colores Dark Burton - by Roberto Miguel Costi */
:root {
    --background-dark: #1A1A1A; /* Fondo oscuro principal */
    --background-darker: #333333; /* Fondo oscuro más oscuro */
    --background-blue: #1E3B4F; /* Azul oscuro añadido */
    --text-light: #CCCCCC; /* Texto claro */
    --text-dark: #555555; /* Texto oscuro */
    --border-dark: #1A1A1A; /* Borde oscuro */
    --border-light: #00BFFF; /* Borde de enfoque en azul claro */
    --disabled-background: #1A1A1A; /* Fondo para elementos deshabilitados */
    --disabled-text: #555555; /* Texto para elementos deshabilitados */
}

@import 'button.css';
@import 'a.css';
@import 'input.text.css';
@import 'input.password.css';
@import 'textarea.css';
@import 'select.css';
@import 'input.checkbox.css';
@import 'input.email.css';
@import 'p.css';

/* Estilo para el cuerpo (body) en Dark Burton */
body {
    background-color: var(--background-dark);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}
