input[type="password"] {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="password"]:hover {
    border-color: var(--border-light);
}

input[type="password"]:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}
