select {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    letter-spacing: .03em !important;
    font-size: 16px !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    padding-right: 18px !important;
    padding-left: 18px !important;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
}

select:hover {
    border-color: var(--border-light);
}

select:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}
