/* Colores Dark Burton - by Roberto Miguel Costi */
:root {
    --background-dark: #1A1A1A; /* Fondo oscuro principal */
    --background-darker: #333333; /* Fondo oscuro más oscuro */
    --background-blue: #1E3B4F; /* Azul oscuro añadido */
    --text-light: #CCCCCC; /* Texto claro */
    --text-dark: #555555; /* Texto oscuro */
    --border-dark: #1A1A1A; /* Borde oscuro */
    --border-light: #00BFFF; /* Borde de enfoque en azul claro */
    --disabled-background: #1A1A1A; /* Fondo para elementos deshabilitados */
    --disabled-text: #555555; /* Texto para elementos deshabilitados */
}

/* Estilo para el cuerpo (body) en Dark Burton */
body {
    background-color: var(--background-dark);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

header {
    background-color: var(--background-darker);
}

header:hover {
    background-color: var(--background-darker);
}

a {
    color: var(--text-light);
}

a:hover {
    color: var(--border-light);
}

input[type="text"] {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="text"]:hover {
    border-color: var(--border-light);
}

input[type="text"]:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

input[type="password"] {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="password"]:hover {
    border-color: var(--border-light);
}

input[type="password"]:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

textarea {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    resize: vertical;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

textarea:hover {
    border-color: var(--border-light);
}

textarea:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

.bluedark {
    background-color: var(--background-blue);
}

.bluedark-element {
    background-color: var(--background-blue);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.bluedark-element:hover {
    border-color: var(--border-light);
    background-color: var(--background-blue);
}

.bluedark-element:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

select {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
}

select:hover {
    border-color: var(--border-light);
}

select:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="checkbox"]:hover {
    background-color: var(--background-darker);
}

input[type="checkbox"]:disabled {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border-color: var(--border-dark);
    cursor: not-allowed;
}

input[type="checkbox"]:checked {
    background-color: var(--border-light);
    border-color: var(--border-light);
    color: var(--border-dark);
}

input[type="checkbox"]:checked::before {
    color: var(--text-light);
}

/* Estilo para el botón en Dark Burton */
button {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

button:hover {
    background-color: var(--background-darker);
    color: var(--text-light);
    border-color: var(--border-light);
}

button:disabled:hover {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--border-dark);
    cursor: not-allowed;
}

select option {
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.3rem;
}

select option:hover {
    background-color: var(--background-darker);
    color: var(--text-light);
}

input[type="email"] {
    background-color: var(--background-dark);
    color: var(--text-light);
    border: 1px solid var(--border-dark);
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

input[type="email"]:hover {
    border-color: var(--border-light);
}

input[type="email"]:disabled {
    background-color: var(--disabled-background);
    color: var(--disabled-text);
    border-color: var(--disabled-background);
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}